body {
  font-family: "Open Sans";
  color: white;
  font-size: 18px;
  background-color: rgba(219, 196, 240, 0.349);
  font-weight: 300;
}

#background {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: relative;
}

#background::before {
  content: "";
  background-image: url("https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1&auto=format&fit=crop&w=2013&q=80");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}

#top-title {
  max-width: 700px;
  display: block;
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 5px;
  background-color: rgba(46, 6, 83, 0849);
  border-radius: 10px;
}

h1 {
  font-size: 42px;
  font-weight: 300;
  text-align: center;
}

#description {
  font-size: 14px;
}

#form {
  color: white;
  background-color: rgba(0, 43, 109, 0.8);
  position: relative;
  margin: auto;
  min-width: 400px;
  max-width: 600px;
  padding: 30px 50px 50px 50px;
  border-radius: 10px;
}

.input {
  width: 600px;
  font-family: "Open Sans";
}

#textarea {
  font-family: "Open Sans";
}

#dropdown {
  font-family: "Open Sans";
}
